<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Author" content="corps"/>
    <meta name="copyright" content="IZ*TAGRAM"/>
    <meta name="description" content="Welcome to IZ*TAGRAM!"/>
    <meta name="keywords" content="iz*tagram, Iz*tagram, IZ*TAGRAM, izone instagram"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="IZ*TAGRAM"/>
    <meta property="og:image" content="https://www.izone-official.com/shared/uploads/main_visual/201905241312_18754.jpg">
    <link rel="shortcut icon" href="https://i.imgur.com/FDX09cg.png" />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.css'>    
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/landing.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type="text/javascript" async></script>    
    <title>IZ*TAGRAM</title>
</head>
<body>

    <div id="landing-header">
        <h1>Welcome to IZ*TAGRAM</h1>
        <a href="/iztagram" class="btn btn-md btn-outline-info">Get Started <i class="right chevron icon"></i></a>
    </div>

    <div class="container">
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <iframe src="https://www.youtube.com/embed/M46FRJsB0Qw?rel=0&autoplay=1&loop=1&playlist=M46FRJsB0Qw" width="1" height="1" frameborder="0" allowfullscreen></iframe>
</body>
</html>