body{
    background-image: url(/img/BuenosAires.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 25vh;

}

#landing-header h1 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 3px 3px 3px black; 
}

#landing-header h4 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 3px 3px 3px black; 
}

.desc {
    color: #fff;
    padding-top: 50px;
    margin: 0;
    text-align: center;  
    font-size: 20px;
    text-shadow: 3px 3px 3px black; 
}

a{
    text-decoration: none;
    color: lightblue;
}